<div class="ui container">
	<div class="ui one column stackable padded centered grid">
		<div class="column">	
		<div class="bio ui large inverted message">
			<div id="bioContent">
			<img class="ui small left floated circular image" id="profileImg" src="/assets/images/profile.jpg">
			  <p>Solver was designed and created by Richard Oh. The main purpose of this application is to showcase basic full stack integration. For more information regarding Solver or web development opportunities, you may reach Richard directly at rso136@gmail.com.</p>

			  <p>Solver was created with the help of the following technologies:</p>
			  <ul>
			  	<li>Design Framework: Semantic UI</li>
			  	<li>Database Management: MySQL</li>
			  	<li>Web Framework: Express.js</li>
			  	<li>Email Automation: Mail Gun</li>
			  </ul>
			</div>  
		</div>	
		</div>
	</div>
</div>