<div class="ui container">
<div class="ui one column stackable padded centered grid">
	<div class="column">
		<h3>Thank you for confirming your email address.</h3>
		<h3><a href="/">Return home</a></h3>
	</div>	
</div>
</div>