<div class="row">	
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Your Problem</h4>
			</div>
			<div class="panel-body">
				<h4>{{user_id}}</h4>
				<h4>What is your problem?</h4>
				<form action="/problems/create" method="POST">
					<input type="text" id="probInput" name="issue">
					<br>
					<br>
					<button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
				</form>
			</div>	
		</div>
	</div>
</div>
