<div class="ui inverted segment" id="navbarIntro">
<div class="ui inverted secondary pointing menu">
	<h3 class="item">
		<a href="/">Home</a>
	</h3>
	<h3 class="item">
		<a href="/users/sign-in">Login</a>
	</h3>
</div>	
	<div class="ui one column stackable grid" id="jumbotron">
		<div class="center aligned column">
			<h1 class="ui inverted header" id="titleBox">SOLVER</h1>
		
			<a href="/users/new" class="huge ui inverted blue button">Get Started</a>

		</div>
	</div>
</div>

<div class="ui container" id="contentBox">
	<div class="ui two column stackable padded centered grid">
		<div class="row">	
			
			<div class="ui image">
				<img src="/assets/images/decisions.jpg">
			</div>
		</div>
		<div class="row">
			<div class="ui huge header">
			Make Decisions Faster
			</div>	
			
			<h3>Solver is a problem resolving app that assists you with organizing your decision criteria and making prompt choices.</h3>

			<h3>
			Whether you are looking to make a quick, on the fly decision or would simply like to evaluate your options, Solver can assist you in making personally beneficial choices. Sign-up and try Solver today.
			</h3>
		</div>

	</div>	
</div>

<div class="ui inverted segment" id="footerDiv">
	<div class="ui one column stackable padded grid" id="footer">
		<div class="six wide center aligned column">
		
		</div>
		<div class="two wide center aligned column">
			<a href="/users/about"><h3>About</h3></a>
		</div>
		<div class="two wide center aligned column">
			<a target="_blank" href="https://www.richardsoh.com"><h3>Contact</h3></a>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
	$('#navbar').hide();
})

</script>