<div class="row">
	<div class="col-md-12">

		<h4>Create New Account</h4>
		<form class="create-update-form" action="/users/create" method="POST">
			<label>Email</label>
			<input type="text" id="emailInput" name="email">
			<br>
			<label>Password</label>
			<input type="text" id="passInput" name="password">
			<button type="submit" class="btn btn-success" id="submitBtn">Sign-Up</button>
		</form>


	</div>

</div>