<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Your Options</h4>
			</div>
			<div class="panel-body">
			{{#each problems}}
				{{#if @last}}
			<h4>Issue: {{this.problem}}</h4>
			<form>	
			<h4>First Option</h4>
				<input type="hidden" class="idInput" value={{this.id}} name="id">
				<input type="text" class="optionInput" name="option">
				<br>
				<br>
				<button type="button" class="optionBtn btn btn-primary">Add</button>
			</form>	
			<br>	
			<form>
				<h4>Second Option</h4>
				<input type="hidden" class="idInput" value={{this.id}} name="id">
				<input type="text" class="optionInput" name="option">
				<br>
				<br>
				<button type="button" class="optionBtn btn btn-primary">Add</button>
			</form>	
			<br>
			<form action="/benefits/benefit_input/{{this.id}}" method="GET">
				<button type="submit" class="submitBtn btn btn-success">Go</button>
			</form>	
				{{/if}}	
			{{/each}}

			</div>
		</div>
	</div>	
</div>

<script type="text/javascript">
$(document).ready(function(){

	$(document).on('click', '.optionBtn', function() {

		var thisProb = $(this).siblings('.optionInput').val();
		var thisID = $(this).siblings('.idInput').val();

		$.post('/options/create/' + thisProb + '/' + thisID, function(){
			console.log('option submitted');
		})

		$(this).closest("form").replaceWith("<h4>Submitted</h4><hr>");

		//$(this).closest("form").hide();
	})

})


</script>