<div class="ui container">
<div class="ui one column stackable padded centered grid">
	<div class="column">
	<h3>Your password has been reset. Please login with your new password.</h3>	
	<h3><a href="/">Go back to user log-in</a></h3>
	</div>	
</div>
</div>