<div class="ui container">
<div class="ui one column stackable padded centered grid">
	<div class="column">
	<h3>An email with a password reset link has been sent to your address.</h3>	
	<h3><a href="/">Go back to user log-in</a></h3>
	</div>	
</div>
</div>