  <style type="text/css">
    .column {
      max-width: 450px;
    }
  </style>

<div class="ui middle aligned center aligned grid">
  <div class="logIn column">
    <h2 class="ui blue image header">
      <div class="content">
        SOLVER Log-in
      </div>
    </h2>
    <form class="ui large form" action="/users/login" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon big input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon big input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" required>
          </div>
        </div>
        <button type="submit" class="ui fluid big blue button">Login</button>
      </div>
    </form>

    <div class="ui message">
      <h4>Create New Account: <a href="/users/new">Sign Up</a></h4>
    </div>
    <div class="ui message">
      <h4>Forgot Password: <a href="/users/requestpass">Reset</a></h4>
    </div>
    <div class="ui message">
      <form action="/users/login" method="POST" id="guestForm">
        <input type="hidden" name="email" value="guest@richardsoh.com">
        <input type="hidden" name="password" value="guest">
        <a href="#" onclick="document.getElementById('guestForm').submit()"><h4>Login with guest account</h4></a>
      </form>
      <!-- <h4><u>Guest Login</u></h4>
      <p><b>Email: guest@richardsoh.com</b></p>
      <p><b>Password: guest</b></p> -->
    </div>
  </div>
</div>