<div class="ui container">
<div class="ui one column stackable padded centered grid">
	<div class="column">
		<h3>We already have an account associated with this email address.</h3>
		<h3><a href="/">Return home</a></h3>
	</div>	
</div>
</div>