#navbarIntro {
	margin-top: 0px;
}

#jumbotron {
	height: 450px;
}

#titleBox {
	padding-top: 150px;
	font-size: 60px;
}

#footer {
	height: 100px;
}

#footerDiv {
	margin-bottom: 0px;
}

.inputBox {
	border-radius: 15px;
}

#contentBox {
	margin-top: 50px;
}

.resultDiv {
	border-style: solid;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}

#bestBox {
	border-radius: 15px;
}

#graphDisp {
	border-radius: 15px;
}

.logIn {
	max-width: 450px;
	margin-top: 100px;
}

#otherScoreBox {
	border-radius: 15px;
}





